body {
    font-family: 'Josefin Sans', sans-serif;
    background-color: #FEFEFC;
    overflow-x: hidden;
}

/* --------------------------------------------------------------------- CONTAINERS */

.landing-container,
.landing-container-disc {
    background: url("../images/cover_discworld.jpg") top center no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    display: -webkit-flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.landing-container {
    height: 100vh;
}

.landing-container-disc {
    height: 60vh;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.article-container {
    margin: 50px 0 70px 0;
}

.article-container.row {
    margin: 0 auto;
}

.contact-container {    
    margin-bottom: 80px;
}

.contact-container h3 {
    margin: 0 0 40px 0;;
}

/* --------------------------------------------------------------------- NAVABR */

nav .container-fluid {
    margin: 10px 0;
}

.navbar {
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    background-color: rgba(0, 0, 0, .8);
    border: 0;
    border-radius: 0;
}

.navbar-default .navbar-collapse {
    border-color: transparent;
}

.navbar-default .navbar-toggle {
    border: 0;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:active,
.navbar-default .navbar-toggle:focus {
    background-color: transparent
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #fff;
}

.navbar-default .navbar-nav li a {
    background-color: #FF9121;
    color: #fafafa;
    text-shadow: 2px 1px 2px rgba(0, 0, 0, .6);
    border: 0;
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    justify-content: center;
    white-space: normal;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.active a,
.navbar-default .navbar-nav li a:hover,
.navbar-default .navbar-nav li a:active,
.navbar-default .navbar-nav li a:focus {
    background-color: #B44822 !important;
    color: #ffffff !important;
}

.navbar-btn {
    margin-right: 15px;
    width: 125px;
    height: 60px;
    text-align: center;
    font-weight: bold;
    font-size: 1em;
}

.navbar-toggle .icon-bar {
    display: block;
    width: 40px;
    height: 7px;
    border-radius: 5px;
}

/* --------------------------------------------------------------------- JUMBOTRONS */

.jumbotron {
    background-color: transparent;
    font-family: 'Uncial Antiqua', cursive;
}

.jumbotron h1,
.jumbotron h3 {
    color: #FAFAFA;
}

.jumbotron h1{
    margin: 60px 0 30px 0;
}

.jumbotron h3 {
    margin: 0 0 30px 0;
}

/* --------------------------------------------------------------------- MAIN-IMAGES/TEXT */

.content-single-img {
    max-width: 400px;
}

.content-multi-img {
    margin-bottom: 20px;
}

.content-side-text,
.content-table-text {
    padding: 20px;
    background-color: rgba(255, 222, 112, 0.2);
    border-radius: 20px;
    border: 1px solid #FF9121;
}

.content-side-text {
    font-size: 1.45em;
}

.content-side-text h2 {
    margin: 0 0 30px 0;
}

.content-side-text p {
    margin: 0 0 20px 0;
}

/* --------------------------------------------------------------------- RESOURCES TABLE */

.content-table-text {
    font-size: 1.2em;
}

.content-table-text a {
    text-decoration: none;
}

.content-table-text i {
    font-size: 1.5em;
}

.table-responsive {
    border: none;
}

.resources-table td {
    vertical-align: middle;
    padding: 10px;
    text-align: left;
}

.resources-table tr {
    border-bottom: 1px solid rgba(255, 145, 33, 0.5);
}

.resources-table .last-row {
    border-bottom: none;
}

.resources-table {
    vertical-align: middle;
}

.table-icon,
.table-text {
    vertical-align: middle;
}

.table-text {
    vertical-align: text-bottom;
}

.resources-table td {
    vertical-align: top;
}

/* --------------------------------------------------------------------- CONTACT FORM */

.contact-form {
    padding: 20px;
    background-color: rgba(255, 222, 112, 0.2);
    border-radius: 20px;
    border: 1px solid #FF9121;    
    max-width: 80vw;
    margin: 0 auto;
}

.contact-form .btn-default {
    background-color: #FF9121;
    color: #fafafa;
    text-shadow: 2px 1px 2px rgba(0, 0, 0, .6);
    border: 0;
    margin-bottom: 10px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.contact-form .btn-default:hover,
.contact-form .btn-default:active,
.contact-form .btn-default:focus {
    background-color: #B44822 !important;
    color: #ffffff !important;
}

.contact-text {
    display: inline-block;
}

/* --------------------------------------------------------------------- VIDEO IFRAMES */
/* Code on responsive iframes from https://benmarshall.me/responsive-iframes/ */

.iframe-container {
    overflow: hidden;
    padding-top: 55%;
    position: relative;
    margin-bottom: 40px;
  }
  
  .iframe-container iframe {
     border: 0;
     height: 100%;
     left: 0;
     position: absolute;
     top: 0;
     width: 100%;
  }

/* --------------------------------------------------------------------- AUDIOBOOKS */

.audio-header {
    margin: 10px auto;
    font-size: 1.25em;
    font-weight: bold;
}
.content-audio {
    margin: 10px 0;
    padding: 20px;
    background-color: rgba(255, 222, 112, 0.2);
    border-radius: 20px;
    border: 1px solid #FF9121;
}

audio {
    width: 100%;
}

/* --------------------------------------------------------------------- TITLE DIVIDER */

.title-divider {
    width: 80px;
    height: 5px;
    border: 0;
    background-color: #FF9121;
}

/* --------------------------------------------------------------------- FOOTER */

footer {
    padding: 20px 0;
    background-color: #FF9121;
    color: #fafafa;
    text-shadow: 2px 1px 2px rgba(0, 0, 0, .6);
}

footer p {
    margin: 0;
}
footer a,
footer a:hover {
     text-decoration: none;
     color: #ffffff;
}

/* --------------------------------------------------------------------- BACK-TO-TOP BUTTON */

#button {
    display: inline-block;
    background-color: #FF9121;
    border: 1px solid #B44822;
    color: #ffffff;
    width: 40px;
    height: 40px;
    text-align: center;
    border-radius: 4px;
    margin: 0;
    position: fixed;
    bottom: 30px;
    right: 30px;
    opacity: 0;
    visibility: hidden;
    transition: all .5s;
    z-index: 1000;
  }

  #button:hover {
    cursor: pointer;
    background-color: #B44822;
  }

  #button.show {
    opacity: 0.7;
    visibility: visible;
  }

  .arrow {
    font-size: 2em;
    line-height: 37px;
    color: #fff;
  }

/* --------------------------------------------------------------------- MEDIA QUERIES */

@media (max-width: 767.9px) {
    .navbar-btn {
        margin: 1px 0;
        width: 100%;
        height: 9vh;
        font-size: 1.5em;
        border-radius: 0;
    }
    .navbar {        
        display: block;
        position: absolute;
    }

    .content-side-text {
        margin-top: 40px;
    }

    .content-single-img {
        margin: 0 auto;
    }

    .resources-table td:first-child {
        text-align: center;
    }

    .landing-container {
        background: url("../images/cover-wizards.jpg") top center no-repeat;
        background-size: cover;
    }
}

@media (min-width: 768px) and (max-width: 920px) {
    .navbar-btn {
        margin-right: 15px;
        width: 95px;
        font-size: .7em;
    }
}

@media (min-width: 768px) {
    .content-table-text {
        max-width: 80vw;
        margin: 0 auto;
    }
}